/* Estilos para el h1 */
/* .site-title {
    text-align: center; /* Centra horizontalmente el h1 */
    font-size: 36px; /* Ajusta el tamaño del texto según tus preferencias */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.836); /* Espacio superior para separarlo de la barra de navegación */
}

body{
    background-color: #6AD4DD;
} */

/////////////////////////{}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .site-title {
    text-align: center; /* Centra horizontalmente el h1 */
    font-size: 36px; /* Ajusta el tamaño del texto según tus preferencias */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.836); /* Espacio superior para separarlo de la barra de navegación */
    position: fixed;
    



    .container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:green;
    color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: green;
  }

    img{  
  display: flex;
  justify-content: center;
  }
 