body{
    height: 100vh;
    overflow: hidden;
    width: auto;
    background-color: #6AD4DD;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #000000;
    padding: 5px;
}
button:hover{
    background-color: black;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #000000;
    padding: 5px
}